@model RegisterViewModel


<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<form method="post" asp-controller="Administration" asp-action="CreateUser" asp-route-returnUrl="@Model.ReturnUrl">
    <div class="row mb-2">
        <label class="col-form-label col-md-2"> User Name </label>
        <div class="col-md-4">
            <input asp-for="UserName" class="form-control" />
        </div>
        <div class="col">
            <span asp-validation-for="UserName" class="text-danger"></span>
        </div>
    </div>
    <div class="row mb-2">
        <label class="col-form-label col-md-2">Password</label>
        <div class="col-md-4">
            <input type="password" asp-for="Password" class="form-control" />
            <div class="col">
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row mb-2">
        <label class="col-form-label col-md-2">Confirm Password</label>
        <div class="col-md-4">
            <input type="password" asp-for="ConfirmPassword" class="form-control" />
        </div>
    </div>
    <div class="row mb-2">
        <label class="col-form-label col-md-2">Is an admin?</label>
        <div class="col-md-4">
            <input type="checkbox" asp-for="IsAdmin" class="form-check-inline" />
        </div>
    </div>
    <div class="row">
        <div class="col offset-md-2">
            <button type="submit" class="btn btn-primary">Create user</button>
            <a asp-area="Admin" asp-action="Index" asp-controller="Dashboard" class="btn btn-primary">Cancel</a>
        </div>
    </div>
</form>